@import url("https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap");
.App h1 {
  padding: 3vw 0;
  font-size: 40px;
}
@font-face {
  font-family: myFirstFont;
  src: url(DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: cobaissi;
  src: url(./COBAISSI.ttf);
}

.App {
  text-align: center;
}
.quote {
  color: white;
  background-image: url("../public/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  max-width: 800px;
  width: 90%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  padding: 3vw;
}
.quote p {
  font-family: myFirstFont;
  font-size: 2.5rem;
}
.quote h4 {
  font-family: "Charmonman", cursive;
  text-decoration: wavy;
  margin-top: 1vw;
  font-weight: 900;
  color: rgb(231, 133, 63);
}
.Authors {
  margin: 2vw;
  cursor: pointer;
  padding: 1vw;
  font-size: large;
  border: none;
  border-radius: 7px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #04aa6d;
  transition: all 0.5s;
  color: white;
  text-decoration: none;
  margin: 15px;
}

.Authors:hover {
  transform: scale(1.05);
}

.quotes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
}
blockquote {
  font-size: 18px;
  height: 100%;
  background-color: #f5f7faef;
  padding: 20px;
  border: 1px solid #ba929245;
  border-radius: 7px;
}
q {
  font-family: cobaissi;
  /* font-style: italic; */
  letter-spacing: .5px;
}
.Author {
  margin-top: 3vw;
  background-color: #f5f7faef;
  text-align: center;
  min-height: 30vh;
  border: 1px solid #ba929245;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.Author h4 {
  margin: 10px 0;
}
.Author img {
  border-radius: 50%;
  width: 100px;
}
.Author h1 {
  margin-bottom: 10px;
}
.Author p {
  max-width: 700px;
  margin: 10px auto;
}
.quotesList {
  margin: 0 auto;
  width: 80%;
}

.search {
  width: 80%;
  max-width: 700px;
  margin: 10px auto;
  display: block;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px 5px;
  font-size: 16px;
}
